
.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color:#f4511e;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {
  background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.but{
  padding: 50px
}

input {
  height: 35px; width: 400px;
  padding:8px 20px;
  border: 1px solid #eee;
  border-left: 3px solid;
  border-left-color:salmon;
  border-radius: 5px;
  transition: border-color .8s ease-out;
}

input:focus{
  outline:none;
  border: 1px solid #eee;
  border-left: 3px solid #3e8e41;
}

select {
  height: 35px; width: 440px;
  padding:8px 20px;
  border: 1px solid #eee;
  border-left: 3px solid;
  border-left-color:salmon;
  border-radius: 5px;
  transition: border-color .8s ease-out;
}

select:focus{
  outline:none;
  border: 1px solid #eee;
  border-left: 3px solid #3e8e41;
}

input[name="adres"]{
  height: 100px; width: 400px;
  padding:8px 20px;
  border: 1px solid #eee;
  border-left: 3px solid;
  border-left-color:salmon;
  border-radius: 5px;
  transition: border-color .8s ease-out;
}

input[name="adres"]:focus{
  outline:none;
  border: 1px solid #eee;
  border-left: 3px solid #3e8e41;
}

div.container{
  padding-left: 200px;
  margin-left:0px;
}

td.tab{
  width: 100px;
  height: 50px;
  text-align: right;
  background-color: #ffaa56;
  color: white;
}
td.tab2{
  width: 300px;
  height: 50px;
  text-align: left;
  padding: 5px;
  background-color: #ffaa56;
  color: white;
}
.img:hover{
border: 2px solid#3e8e41;

}
.img:active{
  border: #b43105 solid 2px;
  box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.404);
  
  
  
  }
  .img:focus{
    border: #b43105 solid 2px;
    box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.404);
    
    
    
    }
img{
  border: #faded5 solid 2px;
  box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.404);

  
}
.bilgi{
  background-color: rgba(189, 189, 189, 0.192) ;
  padding: 5%;
  box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.404);
  border-radius: 5%;
  
  
}
.bas{
  background-color: #ff0000ab;
  padding: 5%;
  box-shadow:0 0 6px 4px rgba(0, 0, 0, 0.404); ;
  border-radius: 5%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
  text-align: left;
  height: 50px;
}

li {
  display:inline-block;
}

li a {
  display: block;
  color: white;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  
}

li a:hover{
  background-image: linear-gradient(to right,red,purple,pink);
}

ul li ul {
  background-color:#2c3e50;
  display:none;
  position:absolute;
  width:100px
}

ul li:hover ul{
  display:block;
}
li ul li {
  display:block; 
}
