.üst {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to right,red,purple,pink);
  padding-top: 0px;
}

.alan{
  display:inline-block;
  background-color: white;
  width: 500px;
  height: 300px;
  border-radius: 30px;
  padding: 20px;
  margin: auto;
}

.btn_giris {
  display: inline-block;
  padding: 15px 25px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color:purple;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.btn_giris:hover {background-color: #fc0abb}

.btn_giris:active {
  background-color: #fc0abb;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.tablo{
background-color: white;
text-align: center;

}